VITE_CONVEX_URL=
VITE_CONVEX_SITE_URL=
VITE_SITE_URL=http://localhost:3000
ALLOW_ADMIN_RESET=false
ALLOW_SEED=false
# Registration is closed on deployed instances by default; set to true to reopen
# (local/dev deployments always allow signup regardless of this value).
ALLOW_SIGNUP=false
